.row {
    width: 100%;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
	
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

body {
	background-color: black;
	color: #050505;
	font-weight: 300;
	margin: 0;
	padding: 0;
	font-size: 1.11vw;
	height: 100%;
}

.header {
	font-family: "Comic Sans MS", cursive, sans-serif;
	background: black;
	height: 67px;
	margin-right: 50px;
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	line-height: 67px;
	color: white;
	letter-spacing: 1.5px;
}

a {
	color: #050505;
	font-weight: 300;
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

input {
	position: relative;
	width: 70%;
	padding: 12px 20px 12px 20px;
	margin: 8px 0;
}

li {
	list-style-position: inside;
	list-style-type: none;
	padding: 10px 10px;
	background: black;
	border-bottom: red 1.5px solid;
	color: #050505;
}

li:hover {
	background-color: red;
	cursor: pointer;
	opacity: 0.8;
}

.heading {
	font-family: "Arial Black", Gadget, sans-serif ;
	color: red;
	font-size: 1.3em;
}

.container {
	max-width: 100%;
	margin: 0 auto;
	height: 100%
}

.container2 {
	padding:10px;
	position: relative;
	background-color: black;
	height: 100%;
	
}

.parchi {
	color: white;
	width: 100%;
	height: 100%;
	padding-top: 10px;
}

.naksha {
	margin-right: 25px;
	width : auto;
	height: 520px;
	background-color: grey;
}

.inputseah {
	max-width: 80%;
	vertical-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

body::-webkit-scrollbar {
	width: 0.8em;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: red;
	outline: 1px solid red;
}

.info {
	margin-left: 250px;
	margin-right: 1px;
	max-width: 100%;
	height: 25%;
	background-color: #ccc;
	z-index: 0;
}

.ibox {
	background-color: #2d2020;
	color: #e8e3e3;
	padding-left: 7px;
	padding-right: 5px;
}

.iboximg {
	align-content: center;
	width: 350px;
	min-height:120px;
}

